body {
  font-family: 'Oswald', sans-serif;
 text-align: center;
  background-color: darkgray;
  color: white;
}
nav {
  text-align: left;
  font-weight: bold;
  font-size: 120%;
  background-color: darkorange;
  padding: 10px;
}
nav a {
  color: white;
  padding: 20px;
}
img {
  padding:10px;
}

.movieList {
  margin: auto;
  width: 20%;
   text-align: left;
   font-size: 20px;
}

.musicList{
  margin: auto;
  width: 20%;
   text-align: left;
   font-size: 20px;
}

p{
  font-size: 25px;
}
